fieldset {
  padding: 1em;
  font:80%/1 sans-serif;
  border:1px solid green;
  }
  
label {	
  font-weight:bold;
  float: left;
  width:25%;
  margin-right:0.5em;
  padding-top:0.2em;
  text-align:right;
  font-weight:bold;
  }

  
fieldset {
  padding: 1em;
  font:80%/1 sans-serif;
  border:1px solid green;
  }
  
legend {
  font-weight: bold;
  padding: 0.2em 0.5em;
  border:1px solid green;
  color:green;
  font-size:150%;
  text-align:center;
  }