fieldset {
  padding: 1em;
  font:80%/1 sans-serif;
  border:1px solid green;
  }
  
legend {
  background-color:#E0E0E0;
  font-weight: bold;
  padding: 0.2em 0.5em;
  border:1px solid green;
  color:green;
  font-size:150%;
  text-align:center;
  }
  
label {
	font-weight: bold;
}